td {
  height: 44px;
  width: 44px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.dr_td {
  background-color: rgb(23, 70, 23);
}

.lt_td {
  background-color: rgb(80, 139, 80);
}