.table_div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.dr_td {
  background-color: rgb(23, 70, 23);
  height: 50px;
  width: 50px;
}

.lt_td {
  background-color: rgb(80, 139, 80);
  height: 50px;
  width: 50px;
}

.used_dr_td {
  background-color: rgb(82, 97, 64);
}

.used_lt_td {
  background-color: rgb(159, 167, 127);
}