.app-div {
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 500px;
  background-color: rgb(138, 204, 138);
  margin-top: 100px;
  box-shadow: 0 0 10px black;
}

.app-name {
  text-align: center;
  position: relative;
  top: 95px;
  font-size: xx-large;
}
